body {
    background-color: #eeeeee;
    font-family: Roboto, sans-serif;
    height: 100vh;
}


h1 {
    background-color: #ff3070;
    border: 1px solid #dd50a9;
    border-radius: 10px;
    color: #fefefe;
    font-size: 1.3rem;
    height: 10vh;
    margin: 0;
}


h3 {
    font-size: 1.2em;
    margin: 0;
}

p {
    font-family: Roboto, sans-serif;
}



/* ---------------------------------- Input Form  --*/

.input-request {
   font-size: 1.2em;
}


.input-box {
    margin: 0.5em 0;
}


.error-message {
    display: none;
}




/* ------------------------------ Outputs Display  --*/

.outputs-display {
    position: absolute;
    bottom: 0;

}

.outputs-wrapper {
    order: 1;
    height: 30vh;
}



.dim-box {
    background-color: #fefefe;
    border: 1px solid #bababa;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0.1em 0;
    padding: 0.5em;
}








/* -------------------------------Graphics Area  ----*/

.graphics {
    max-height: 60vh;
}


.drawing-wrapper {
    background-color: #efefef;
    border: 1px solid #bababa;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%
}

.drawing-area {
    box-sizing: border-box;
    height: 95%;
    padding: 1%;
    width: 95%;
}



.sine-wave {
    fill-opacity: 0;
    stroke: #000;
}




/* -----------------------------line classes ---- */

.line-main {
    stroke-linecap: round;
    stroke-width: 5px;
}

.line-back {
    fill-opacity: 0;
    stroke: #bebebe;
    stroke-width: 1px;
}

.line-x {
    stroke: #ff0000;
}

.line-y {
    stroke: #00ff00;
}

.line-z {
    stroke: #0000ff;
}


/*------------------------------- Modal ------------*/

.explainer-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    left: 0;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
}

.explainer-inner {
    background-color: #f1f1f1;
    height: 95%;
    position: relative;
    width: 80%;
}


.modal-exit {
    background-color: #ff0000;
    color: #fff;
    height: 2em;
    margin: 2%;
    position: absolute;
    right: 0;
    width: 2em;
}



/*---------------------------- Media Queries  -- */

@media (min-width:992px) {
    
    h1 {
        font-size: 1.5rem;
    }
    

    .graphics {
        min-height: 70vh;
        max-height: 70vh;
    }
    

    .outputs-wrapper {
        order: 0;
    }

    
    .para-dim {
        font-size: 0.8em;
    }

}